body {
  font-family: Arial;
  background: #f2f2f2;
  justify-content: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

input {
  width: 220px;
  height: 40px;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 10px;
}

.buttons {
  width: 230px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  justify-content: center;
}

button {
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
}

.zero {
  grid-column: span 2;
}

img {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px #aaa;
  justify-content: center;
}
p {
  font-size: 18px;
  line-height: 1.7;
  max-width: 700px;
  margin: 20px auto;
}
footer {
  width: 100%;
  background: #222;
  color: green;
  padding: 5px 0;
  text-align: center;
  margin-top: 5px;
}
